<footer>
  <div class="container">
    <div class="footer-inner">
      <div class="footer-left">
        <strong>LUCI Lab</strong><br>
        Logic, Uncertainty, Computation and Information<br>
        {{ .Site.Params.department }}<br>
        {{ .Site.Params.university }}
      </div>
      <div class="footer-right">
        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
        Via Festa del Perdono 7, Milan<br>
        © {{ now.Year }} LUCI Lab
      </div>
    </div>
  </div>
</footer>
